[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=qtterminal
Comment=qt terminal for serial communications
Type=Application
Exec=/usr/bin/qtterminal
Icon=/usr/share/pixmaps/qtterminal.svg
