[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=qtvt
Comment=qt vitrual terminal for serial communications
Type=Application
Exec=/usr/bin/qtvt
Icon=/usr/share/pixmaps/qtvt.svg
