Source: qtvt
Section: comm
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Build-Depends: debhelper (>=9), qt5-qmake (>=5.7) , qtbase5-dev (>=5.7) , libqt5serialport5-dev (>=5.7), qtscript5-dev (>=5.7), libqtermwidget5-0-dev (>=0.8.0)
Standards-Version: 3.9.6
Homepage: https://github.com/coolshou/qtvt.git
Vcs-Git: git://github.com/coolshou/qtvt.git
Vcs-Browser: github.com/coolshou/qtvt.git

Package: qtvt
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gdebi
Description: qt base virtual terminal emulator for serial communications
 qt base virtual terminal emulator for serial communications
